==


<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]>
<!-->	
<html class="no-js" lang=""> 
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ this.page.title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ 'assets/logo-dark.png'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/normalize.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/icomoon.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/transitions.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/prettyPhoto.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/owl.carousel.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/pogoslider.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/style.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/color.css'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/responsive.css'|theme }}">
		<script src="{{ 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'|theme }}"></script>
	</head>
	<body class="at-home at-homeone">
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!--<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->
		<div id="at-wrapper" class="at-wrapper">
			{% partial 'web/header' %}

			{% page %}

			{% partial 'web/footer' %}
		</div>

		<script src="{{ 'assets/js/vendor/jquery-library.js'|theme }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcvAXp35fi4q7HXm7vcG9JMtzQbMzjRe8"></script>
		<script src="{{ 'assets/js/vendor/jquery-migrate.js'|theme }}"></script>
		<script src="{{ 'assets/js/vendor/bootstrap.min.js'|theme }}"></script>
		<script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
		<script src="{{ 'assets/js/Chart.bundle.min.js'|theme }}"></script>
		<script src="{{ 'assets/js/isotope.pkgd.js'|theme }}"></script>
		<script src="{{ 'assets/js/prettyPhoto.js'|theme }}"></script>
		<script src="{{ 'assets/js/jquery.vide.js'|theme }}"></script>
		<script src="{{ 'assets/js/pogoslider.js'|theme }}"></script>
		<script src="{{ 'assets/js/countTo.js'|theme }}"></script>
		<script src="{{ 'assets/js/appear.js'|theme }}"></script>
		<script src="{{ 'assets/js/gmap3.js'|theme }}"></script>
		<script src="{{ 'assets/js/function.js'|theme }}"></script>
	</body>
</html>