{{ form_open() }}
    <select name="locale" data-request="onSwitchLocale" id="languageselector" onchange="changelangSecond()">
        {% for code, name in locales %}
            <option value="{{ code }}" {{ code == activeLocale ? 'selected' }}>{{ name }}</option>
        {% endfor %}
    </select>
{{ form_close() }}

<script>
    function changelangSecond() {
      var x = document.getElementById("languageselector");
      var link = window.location.pathname;
        
      if (link.substring(0, 3) == '/en' || link.substring(0, 3) == '/kz' || link.substring(0, 3) == '/ru') {
        window.location.replace('/' + x.value + link.substring(3))
      }else{
        window.location.replace('/' + x.value + link)
      }
    }
</script>

<style type="text/css">
    #languageselector{
        outline: none;
        color: #595959;
        background: #fff;
        font-size: 14px;
        min-width: 120px;
        height: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        line-height: 18px;
        padding: 5px;
        margin-top: 8px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid transparent;
        text-transform: capitalize;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>