[viewBag]
==
<footer id="at-footer" class="at-footer at-haslayout">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="at-threecolumns">
					<div class="at-fcolumn">
						<div class="at-widget at-widgettext">
							<strong class="at-logo">
								<a href="{{ url('/') }}">
									<img src="{{ url('/') }}{{ '/logo-dark.png' | media }}" alt="{{ 'Company name'|_ }}" style="max-height: 50px;">
								</a>
							</strong>
							<div class="at-description">
								<p>{{ 'Company description' | _ }}</p>
							</div>
							<ul class="at-socialicons">
								<li class="at-facebook"><a href="{{ 'facebook link'|_ }}"><i class="fa fa-facebook"></i></a></li>
								<li class="at-instagram"><a href="{{ 'instagram link'|_ }}"><i class="fa fa-instagram"></i></a></li>
								<li class="at-whatsapp"><a href="{{ 'whatsapp link'|_ }}"><i class="fa fa-whatsapp"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="at-fcolumn">
						<div class="at-widget at-widgetusefullinks">
							<div class="at-fwidgettitle">
								<h3>{{ 'Useful Links'|_ }}</h3>
							</div>
							<div class="at-widgetcontent">
								<ul>
									<li><a href="{{ url('/') }}">{{ 'Home page'|_ }}</a></li>
									<li><a href="{{ url('/') }}/our-services">{{ 'Our services'|_ }}</a></li>
									<li><a href="{{ url('/') }}/about-company">{{ 'About us'|_ }}</a></li>
									<li style="display:none;"><a href="{{ url('/') }}/pricing">{{ 'Pricing'|_ }}</a></li>
									<li><a href="{{ url('/') }}/blog">{{ 'News'|_ }}</a></li>
									<li><a href="{{ url('/') }}/contact-us">{{ 'Contact us'|_ }}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="at-fcolumn" style="display:none;">
						<div class="at-widget">
							<div class="at-fwidgettitle">
								<h3>{{ 'Recent News'|_ }}</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="at-copyright">
					<p>{{ 'Company name'|_ }} 2021. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>