[viewBag]

[localePicker]
forceUrl = 0
==
<header id="at-header" class="at-header">
	<div class="container-fluid">
		<div class="row">
			<strong class="at-logo"><a href="{{ url('/') }}"><img style="max-height:50px;" src="{{ url('/') }}{{ '/logo-dark.png' | media }}"></a></strong>
			<div class="at-navigationarea">
				<nav id="at-nav" class="at-nav">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#at-navigation" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="at-navigation" class="collapse navbar-collapse at-navigation">
						<ul>
							<li class="current-menu-item">
								<a href="{{ url('/') }}">{{ 'Home page'|_ }}</a>
							</li>
							<li>
								<a href="{{ url('/') }}/about-company">{{ 'About us'|_ }}</a>
							</li>
							<li class="menu-item-has-children" style="display: none;">
								<a href="javascript:void(0);">{{ 'About us'|_ }}</a>
								<ul class="sub-menu">
									<li class="current-menu-item"><a href="{{ url('/') }}/about">{{ 'General information'|_ }}</a></li>
									<li><a href="{{ url('/') }}/about-company">{{ 'About company'|_ }}</a></li>
									<li><a href="{{ url('/') }}/success-stories">{{ 'Success stories'|_ }}</a></li>
									<li><a href="{{ url('/') }}/pricing">{{ 'Pricing'|_ }}</a></li>
								</ul>
							</li>
							<li>
								<a href="{{ url('/') }}/our-services">{{ 'Our services'|_ }}</a>
							</li>
							<li>
								<a href="{{ url('/') }}/blog">{{ 'News'|_ }}</a>
							</li>
							<li>
								<a href="{{ url('/') }}/contact-us">{{ 'Contact us'|_ }}</a>
							</li>
							<li>
								{% component 'localePicker' %}
							</li>
						</ul>
					</div>
				</nav>
				<div class="at-contactsocial" style="padding-top: 15px;">
					<span class="at-contactnumber">
						<i class="icon-telephone114"></i>
						<em>{{ 'Contact phone'|_ }}</em>
					</span>
					<ul class="at-socialicons">
						<li class="at-facebook"><a href="{{ 'facebook link'|_ }}"><i class="fa fa-facebook"></i></a></li>
						<li class="at-instagram"><a href="{{ 'instagram link'|_ }}"><i class="fa fa-instagram"></i></a></li>
						<li class="at-whatsapp"><a href="{{ 'whatsapp link'|_ }}"><i class="fa fa-whatsapp"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>